<!DOCTYPE html>
<html ng-app="FVSorterApp">
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruit_and_veggies_test.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="HomeCtrl">
        <div class="container">
            <h1>Fruit and Veggies</h1>
            <div class="row">
                <div class="col-sm-4">
                    Fruits<br>
                    <div ng-model="left">
                    <ul>
                    <div class="well"
                    <li ng-repeat="fv in left track by $index" ng-show="fruits">
                    {{fv}}
                    <button class="btn" ng-class="{'btn-primary':primary,'btn-xs':small}" ng-click="backToCenter($index)"><i class="fa fa-lg fa-arrow-right" aria-hidden="true"></i></button>
                    </li>
                    </div>
                    </ul>
                    </div>
                    {{left}}
                </div>
                <div class="col-sm-4">
                    Pool<br>
                    <ul>
                    <div class="well"
                    <li ng-repeat="fv in fruitVeggies track by $index" ng-show="pool">
                    <button class="btn" ng-class="{'btn-primary':primary,'btn-xs':small}" ng-click="toCol1($index)"><i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i></button> 
                    {{fv}}
                    <button class="btn" ng-class="{'btn-primary':primary,'btn-xs':small}" ng-click="toCol3($index)"><i class="fa fa-lg fa-arrow-right" aria-hidden="true"></i></button></li>
                    </div>
                    {{fruitVeggies}}
                    </ul>
                </div>
                <div class="col-sm-4">
                    Veggies<br>
                    <div ng-model="right">
                    <ul>
                    <div class="well"
                    <li ng-repeat="fv in right track by $index" ng-show="veggies">
                    <button class="btn" ng-class="{'btn-primary':primary,'btn-xs':small}" ng-click="backToMiddle($index)"><i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i></button>
                    {{fv}}
                    </li>
                    </div>
                    </ul>
                    </div>
                </div>                        
            </div>
        </div>
    </body>
</html>